<div class="flex justify-between items-center mb-4">
  <div class="w-full md:w-1/3 xl:w-1/5">
    <mat-form-field>
      <mat-label id="search-by-label">Search By</mat-label>
      <mat-select
        id="search-by"
        (selectionChange)="onSelectionChanged($event.value)"
        [(value)]="selected"
      >
        <mat-option value="All">All</mat-option>
        <mat-option value="Id">Id</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="w-full md:w-2/3 xl:w-4/5">
    <mat-form-field>
      <mat-label id="search-text-label">Search Text</mat-label>
      <input
        id="search-text"
        (input)="onInputChange($event)"
        type="number"
        min="1"
        oninput="validity.valid || (value = '');"
        matInput
        #searchText
      />
    </mat-form-field>
  </div>

  <button id="search" #search mat-raised-button (click)="onSearchClick()">
    Search
  </button>
</div>
