<h2 mat-dialog-title>Create Post</h2>
<mat-dialog-content class="flex flex-col">
  <mat-form-field class="w-full">
    <mat-label>User Id</mat-label>
    <input
      id="create-user-id"
      matInput
      [disabled]="true"
      [(ngModel)]="data.userId"
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Title</mat-label>
    <input id="create-title" matInput [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Body</mat-label>
    <input id="create-body" matInput [(ngModel)]="body" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="gap-5">
  <button
    id="create-apply"
    (click)="apply()"
    mat-raised-button
    [mat-dialog-close]="data"
  >
    Apply
  </button>
  <button
    id="create-cancel"
    (click)="cancel()"
    mat-raised-button
    mat-dialog-close
  >
    Cancel
  </button>
</mat-dialog-actions>
