<h2 mat-dialog-title>Create Post</h2>
<mat-dialog-content class="flex flex-col">
  <mat-form-field class="w-full">
    <mat-label>User Id</mat-label>
    <input matInput [disabled]="true" [value]="data.userId" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Body</mat-label>
    <input matInput [(ngModel)]="body" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="gap-5">
  <button (click)="apply()" mat-raised-button [mat-dialog-close]="data">
    Apply
  </button>
  <button (click)="cancel()" mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
